*{
	margin:0px;
	padding:0px;
}
body{
	width:100%;
	height:100%;
}

.caja-padre{
	width: 277.2px;
	height: 169.2px;
	margin: 9% auto;
}

fotter p{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 18px;
	letter-spacing: 0.7px;
}

fotter a {
	text-decoration:none;
	text-align: center;
}

body a:visited {
	color:blue;
}


.button{
	width: 43.2px;
	height: 43.2px;	
	background-color: #CCC;
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	transition: background-color 400ms;	
	margin-left: 9px;
	margin-top: 9px;
	float:left;
}

.button:hover {
	background-color: #06C;
}


.button2{
	margin-left:28.8px;
	margin-top: 9px;
}

.button2:hover {
	background-color: #FF8080;
}

.button3{	
	margin-left:28.8px;
	margin-top:9px;
}

.button3:hover {
	background-color: #12BC49;
}

.button4{
	margin-left: 28.8px;
	margin-top: 9px;
}

.button4:hover {
	background-color: #FFD74A;
}

.button5{
	margin-left: 45px;
	margin-top: -7.2px;
}

.button5:hover {
	background-color: #FE7916;
}

.button6{
	margin-left: 28.8px;
	margin-top: -7.2px;
}

.button6:hover {
	background-color: #63C;
}

.button7{
	margin-left: 28.8px;
	margin-top: -7.2px;
}

.button7:hover {
	background-color: #EA3756;
}

.button8{
	margin-left: 81px;
	margin-top: -7.2px;
}

.button8:hover {
	background-color: #963 ;
}

.button9{
	margin-left: 28.8px;
	margin-top: -7.2px;
}

.button9:hover {
	background-color: #2DC4B8;
}

.button10{
	margin-left: -79.2px;
	margin-top: 28.8px;
}

.button10:hover {
	background-color: #39428C;
}

/*---------------------------------------- obras ----------------------------------------*/

/*
#ventana, #ventana2, #ventana3, #ventana4, #ventana5, #ventana6, #ventana7, #ventana8, #ventana9, #ventana10{
	*/
.ventana {	
	display:none;
	pointer-events: none;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	opacity:0;
	z-index: 10;
	background: rgb(0,0,0); 
	background: -moz-linear-gradient(45deg,  rgba(0,0,0,1) 33%, rgba(61,61,61,1) 100%); 
	background: -webkit-gradient(linear, left bottom, right top, color-stop(33%,rgba(0,0,0,1)), color-stop(100%,rgba(61,61,61,1))); 
	background: -webkit-linear-gradient(45deg,  rgba(0,0,0,1) 33%,rgba(61,61,61,1) 100%); 
	background: -o-linear-gradient(45deg,  rgba(0,0,0,1) 33%,rgba(61,61,61,1) 100%);
	background: -ms-linear-gradient(45deg,  rgba(0,0,0,1) 33%,rgba(61,61,61,1) 100%);
	background: linear-gradient(45deg,  rgba(0,0,0,1) 33%,rgba(61,61,61,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3d3d3d',GradientType=1 );
}

/*
#ventana:target, #ventana2:target, #ventana3:target, #ventana4:target, #ventana5:target, #ventana6:target, #ventana7:target, #ventana8:target, #ventana9:target, #ventana10:target{
	*/
.ventana:target {
	display:block;
	opacity: 1;
	transition: all ease-in 0.6s;
}

#contenedor{
	width: 600px;
	height: 600px;
	position:relative;
	top:50%;
	left:50%;
	margin-top: -300px;
	margin-left: -300px;
}

button:disabled {
	background-color:#333;
	color:white;
}

#obra{
	position: absolute;
	top: 13.5px;
	left: 13.5px;
	border-radius: 6px;
}

form{
	pointer-events: all;
	width: 280px;
	height: 65px;
	position: absolute;
	top: 511.5px;
	left: 13.5px;
}

form input{
	width: 199px;
	height: 29px;
	color: #fff;
	font-family: "Comic Sans MS", cursive;
	text-align: center;
	font-size: 11px;
	letter-spacing: 0.4px;
	background-color: #000;
	margin: 3px auto;
	border: 2px solid #CCC;
		
}

form button{
	width: 72px;
	height:	72px;
	float:right;
	margin-top:-36px;
	background-color: #fff;
	border: 3px solid #fff;
	font-family: "Comic Sans MS", cursive;
	font-weight: bold; 
	font-size: 15px;
	line-height: 15px;
	border-radius:6px;
}

form button h4{
	font-family: "Comic Sans MS", cursive;
	font-size: 17px;
	letter-spacing: 1px;
}

form button:hover{
	background-color:#CCC;
}

form button:active{
	background-color: grey;
	color:white;
}

.referencias {
	width: 260px;
	height: 495px;
	position: absolute;
	left:326.5px;
	top:13.5px;
	font-family:"Comic Sans MS", cursive;
	color:#fff;
	letter-spacing: 0.5px;
	text-align: right;
	line-height: 19.5px;
	letter-spacing: 0.4px;
}


.referencias p {
	font-size: 11px;
}

.referencias h4{
	color:red;
}

#loguito{
	position:absolute;
	left:500px;
	top: 526.5px;
}

#icono {
	position: absolute;
	float:right;
	left: 270px;
	
}



